# Sales Dashboard (Week 1) – **Updated**
This version uses the modern `dash.Dash` API (no more `JupyterDash`).

1. Upload `sales_data.csv` to Colab (left file pane → upload).
2. Run the cells; the dashboard appears inline without errors.

In [1]:
!pip -q install dash pandas plotly

[notice] A new release of pip is available: 24.1.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [2]:
pip install --upgrade pip

Requirement already satisfied: pip in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (24.1.2)
Collecting pip
  Downloading pip-25.1.1-py3-none-any.whl.metadata (3.6 kB)
Downloading pip-25.1.1-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 5.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.1.2
    Uninstalling pip-24.1.2:
      Successfully uninstalled pip-24.1.2
Successfully installed pip-25.1.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

sales_data = pd.read_csv('sales_data.csv')
sales_data.head()

         date product_id  sales_amount store_location
0  2023-09-01       P002           253       New York
1  2023-09-01       P004           664    Los Angeles
2  2023-09-01       P003           592        Chicago
3  2023-09-01       P004           463        Houston
4  2023-09-02       P002           459       New York

In [4]:
# --- Basic statistics ---
print('Total sales:', sales_data['sales_amount'].sum())
print('\nSales by location:')
print(sales_data.groupby('store_location')['sales_amount'].sum())
print('\nSales by product:')
print(sales_data.groupby('product_id')['sales_amount'].sum())

Total sales: 61382

Sales by location:
store_location
Chicago        15784
Houston        15209
Los Angeles    15473
New York       14916
Name: sales_amount, dtype: int64

Sales by product:
product_id
P001    14470
P002    13228
P003    15698
P004    17986
Name: sales_amount, dtype: int64

In [5]:
from dash import Dash, dcc, html
import plotly.express as px

agg = sales_data.groupby('store_location')['sales_amount'].sum().reset_index()
fig = px.bar(agg, x='store_location', y='sales_amount', title='Sales by Store Location')

app = Dash(__name__)
app.layout = html.Div([
    html.H1('Sales Dashboard'),
    dcc.Graph(figure=fig)
])

# Run inline in Jupyter
app.run(jupyter_mode='inline', debug=False)